*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #F71735;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

img {
  width: 100%;
  height: 100%;
}

a,
li {
  text-decoration: none;
  list-style: none;
}

/*   ---- Generic classes ---- */
.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.items-center {
  align-items: center;
}

.content {
  min-height: calc(100vh - 5rem);
}

/*   ---- HEADER STYLES ---- */
header {
  align-items: center;
  text-align: center;
  padding: 1rem;
  height: 5rem;
  background-color: #F5FBEF;
  position: fixed;
  width: 100vw;
  z-index: 3;
}

.headerLinks {
  flex-grow: 1;
  gap: 1rem;
  justify-content: end;
}

/*   ---- CARD STYLES ---- */
.cardsWrapper {
  padding-top: 5rem;
}

.card {
  height: 20rem;
  width: 70%;
  margin: 1rem auto;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.cardImage {
  background-size: cover;
  background-position-y: 50%;
  width: 100%;
  height: 100%;
}

.cardLabel {
  position: absolute;
  bottom: 0;
  color: black;
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.651);
}

/*   ---- POPUP STYLES ---- */
.popupWrapper {
  position: absolute;
  top: 0;
  margin-top: 5rem;
  width: 100%;
  height: 100%;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.808);
  color: #F71735;
}

.popup {
  width: 75%;
  height: 75%;
  z-index: 300;
  margin: 2rem auto;
  word-break: break-word;
  padding: 1rem 2rem 2rem 2rem;
  background-color: #101935;
}

/*   ---- FOOTER STYLES ---- */
footer {
  padding: 1rem;
  height: 5rem;
  background-color: #f5fbef;
}

.contactMe {
  text-align: center;
}

.contactLinks {
  justify-content: space-around;
}

.fixed {
  position: fixed;
}
